USE [erp_126]
GO
/****** Object:  View [hrm].[ViewEmployeesAlmostRetired]    Script Date: 11/12/2023 9:17:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [hrm].[ViewEmployeesAlmostRetired]
as 
Select 
JSON_VALUE(e.curentJob,'$.office.text') as 'office',
JSON_VALUE(e.curentJob,'$.department.text') as 'department',
JSON_VALUE(e.basic,'$.empCode') as 'empCode',
JSON_VALUE(e.basic,'$.fullName') as 'fullName',
JSON_VALUE(e.curentJob,'$.title.text') as 'title',
JSON_VALUE(e.curentJob,'$.job.text') as 'job',
JSON_VALUE(e.story,'$.birthDay') as 'birthday',
g.genderName as 'gender',
'' as 'expectedRetirementDate',
'' as 'seniority',
'' as 'note',
'' as 'status'
FROM [erp].[hrm].[Employees] as e
join cat.Gender as g on  g.genderCode = JSON_VALUE(e.basic, '$.genderId')  
GO
